<ion-header>
  <ion-toolbar>
    <ion-title>tripsearch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-modal [isOpen]="isSearchingTripStart" (didDismiss)="closeStartSearchModal()">
    <ng-template>
        <ion-searchbar [(ngModel)]="search"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let station of stations | stationSearch: search " (click)="pickStartStation(station)">
            {{ station.name }}
          </ion-item>
        </ion-list>
        <ion-button (click)="validateStartSearchModal()">Valider</ion-button>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isSearchingTripEnd" (didDismiss)="closeEndSearchModal()">
    <ng-template>
      <ion-searchbar [(ngModel)]="search"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let station of stations | stationSearch: search " (click)="pickEndStation(station)">
          {{ station.name }}
        </ion-item>
      </ion-list>
      <ion-button (click)="validateEndSearchModal()">Valider</ion-button>
    </ng-template>
  </ion-modal>

    <ion-item>
      <a (click)="openStartSearchModal()">
        <ion-label>Arrêt de départ</ion-label>
        <ion-text style="text-indent: 10px">{{ tripStartName }}</ion-text>
        <ion-input hidden [(ngModel)]="tripStart"></ion-input>
      </a>
      <ion-button style="margin-left: auto" (click)="getCurrentGeoloc()">Position actuelle</ion-button>
    </ion-item>

    <ion-item>
      <a (click)="openEndSearchModal()">
        <ion-label>Arrêt d'arrivée</ion-label>
        <ion-text style="text-indent: 10px">{{ tripEndName }}</ion-text>
        <ion-input hidden [(ngModel)]="tripEnd"></ion-input>
      </a>
    </ion-item>

  <ion-button (click)="launchTripSearch()">Valider</ion-button>
</ion-content>
