<ion-header>
  <ion-toolbar>
    <ion-title>tripsearch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-modal [isOpen]="isSearchingTripStart">
    <ng-template>
      <app-modal-content>
        <ion-searchbar [(ngModel)]="search"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let stationName of stationsNameList | stationSearch: search " (click)="pickStartStation(stationName)">
            {{ stationName }}
          </ion-item>
        </ion-list>
        <ion-button (click)="toggleStartSearchModal()">Valider</ion-button>
      </app-modal-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isSearchingTripEnd">
    <ng-template>
      <app-modal-content>
        <ion-input [(ngModel)]="tripEnd"></ion-input>
        <ion-button (click)="toggleEndSearchModal()">Valider</ion-button>
      </app-modal-content>
    </ng-template>
  </ion-modal>

  <a (click)="toggleStartSearchModal()">
    <ion-item>
      <ion-label>Arrêt de départ</ion-label>
      <ion-input [(ngModel)]="tripStart"></ion-input>
    </ion-item>
  </a>

  <a (click)="toggleEndSearchModal()">
    <ion-item>
      <ion-label>Arrêt d'arrivée</ion-label>
      <ion-input [(ngModel)]="tripEnd"></ion-input>
    </ion-item>
  </a>

  <ion-button (click)="launchTripSearch()">Valider</ion-button>
</ion-content>
