<ion-header>
  <ion-toolbar>
    <ion-title>page-carte2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        TAG Grenoble
      </ion-title>
    </ion-toolbar>
    <ion-item>
      REMOVE STATIONS TRAMS
      <ion-toggle checked="true" (ionChange)="tooglechangedRemoveStationsTrams()"></ion-toggle>
      REMOVE STATIONS BUS
      <ion-toggle checked="true" (ionChange)="tooglechangedRemoveStationsBus()"></ion-toggle>
    </ion-item>
    <ion-item>
      REMOVE LINES TRAMS
      <ion-toggle checked="true" (ionChange)="tooglechangedRemoveLinesTrams()"></ion-toggle>
      REMOVE LINES BUS
      <ion-toggle checked="true" (ionChange)="tooglechangedRemoveLinesBus()"></ion-toggle>
    </ion-item>
  </ion-header>

  <ion-content>
    <div id="mapId" style="width: 100%; height: 100%">
    </div>
  </ion-content>
</ion-content>

<!-- Footer without a border -->
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="getLocation()">Get Geolaction</ion-button>
  </ion-toolbar>
</ion-footer>
