<ion-header>
  <ion-toolbar>
    <ion-title>itinerariesList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal [isOpen]="detailsModalOpen" (didDismiss)="closeDetailsModal()" animated="true">
    <ng-template>
      <app-modal-content style="overflow: scroll">
        <ion-card *ngFor="let leg of currentShownItineraryLegs">
          <ion-card-header>
            <ion-card-title>{{ formatTime(leg.startTime) }}</ion-card-title>
            <ion-card-subtitle>{{ secondsToMinutes(leg.duration) }} - {{ formatDistance(leg.distance) }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              {{ leg.mode }}
            </ion-text>
<!--
            <ion-button (click)="showLegSteps(leg)">Show steps</ion-button>
-->
            <ul>
              <li *ngFor="let step of leg.steps">
                {{ sentenceFromStep(step) }}
              </li>
            </ul>

            <ion-text *ngIf="leg.agencyId !== undefined">
              Prendre le {{ leg.mode }} {{ leg.route }} à {{ leg.from.name }} vers {{ leg.headsign}} <br>
              Descendre à {{ leg.to.name }}( {{ leg.to.stopIndex - leg.from.stopIndex }} arrêts).
            </ion-text>
          </ion-card-content>
        </ion-card>
      </app-modal-content>
      <ion-button (click)="selectItinerary()">Confirmer</ion-button>
    </ng-template>
  </ion-modal>

  <ion-card *ngFor="let itinerary of itineraryArray" (click)="showDetails(itinerary)">
    <ion-card-header>
      <ion-card-title>
        {{ formatTime(itinerary.startTime) }} - {{ formatTime(itinerary.endTime) }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ secondsToMinutes(itinerary.duration) }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let leg of itinerary.legs" style="display: inline-block; margin-right: 1em">
        <ion-text>
          {{ leg.mode }}
        </ion-text>
      </div>
      <ion-text style="font-size: 11px; display: block">Prix: 1€60</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button [routerLink]="['/tripsearch']">Retour</ion-button>


</ion-content>
